h1{ color: black ; text-align: center;
      font-size: 50px;
}
div{ text-align: center;
    
  font-size: 30px; color: black;
    border:10px ; border-radius: 5px;margin: 10px;padding: 3px;
}
img{ width: 25%; height: 70%;}
